body {
    font-family: "Roboto", sans-serif;
color: #434455;
background-color:#fff;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {display: block;}

a {text-decoration: none;}

ul { list-style-type: none;
    padding: 0;
    margin: 0;}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-page {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

    .header-logo .header-logo-part {
        color: #2e2f42;
    }

    .list-navigation {
            display: flex;
            align-items: center;
            gap: 40px;
        }

    .navigation-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42; }

        .navigation-link:hover, 
        .navigation-link:focus { color: #404bbf;
        }

        .contacts-list{
                display: flex;
                align-items: center;
                gap: 40px;
            }

       .contacts {font-style: normal;
    margin-left: auto;}

       
        .contacts-info {
            display: block;
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;}

 .contacts-info:hover,
 .contacts-info:focus {
     color: #404bbf;
 }


 .hero-section {background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-section-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: auto;
    margin-bottom: 48px;
}

    .hero-section-button {
        display: block;
        margin: auto;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        background-color: #4d5ae5;;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
    }

    .hero-section-button:hover,
    .hero-section-button:focus {background-color: #404BBF;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.services-section {
padding: 120px 0;
}

.services-section-list {
display: flex;
gap: 24px;
}

.services-section-item {
width: calc((100% - 72px) / 4);
}

.services-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;}

    .services-section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

    .team-section {background-color: #F4F4FD;
    padding-top: 120px;
padding-bottom: 120px;}

    .team-section-title {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    }

 .team-section-item {background-color: #FFFFFF;
border-radius: 0 0 4px 4px;}

 .team-section-list {
    display: flex;
    gap: 24px;
 }

 .team-section-text {
    padding-top: 32px;
    padding-bottom: 32px; }
        

    .team-section-member-name {
        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

        .team-section-member-role {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: center;
            color: #434455;}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-section-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    }

  .portfolio-section-project-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
margin-bottom: 8px;}

    .portfolio-section-project-description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}

        .portfolio-text {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
        }

    .footer-page {
         background-color: #2e2f42;
         padding-top: 100px;
        padding-bottom: 100px;
                 }

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.footer-logo .footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
max-width: 264px;}

